{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block body %}

<h1>Page d'acceuil</h1>
<div class="container">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga fugit nobis sit, praesentium modi quia excepturi commodi minima tempora maiores. Veniam odio doloribus a maiores quo at, blanditiis autem labore?
    Ipsa non voluptatum ad nam, iusto provident? Quasi rem, provident quidem ipsum deleniti laudantium sint perspiciatis magnam voluptates rerum nisi optio at deserunt perferendis dignissimos odit, laborum consequuntur dolore quia.
    Voluptate necessitatibus natus, quaerat vel sed recusandae laboriosam dolor! Voluptatibus delectus nesciunt iusto blanditiis et saepe facere eligendi mollitia excepturi harum sunt, id animi quidem. Obcaecati provident consequatur iste quisquam?
    Sint at voluptate atque placeat eveniet. At fugit accusantium vero optio assumenda aliquid ipsa quisquam in, placeat est error! Inventore, eum tenetur. Repellat libero dolores minima voluptatibus ea aut soluta!
    Ratione eaque reprehenderit voluptate assumenda eveniet ullam debitis natus maiores commodi laboriosam, odio suscipit ducimus recusandae, ad enim amet laudantium autem molestiae repudiandae, officiis architecto. Obcaecati, ipsam porro! Ad, placeat?
    Nam fugiat expedita quam illo maxime aut optio dolor ipsam quibusdam animi ab sint dignissimos ut doloremque blanditiis voluptates, repellat quos esse cum. Incidunt facere laborum natus alias at. Asperiores.
    Iure vero sit, cumque aliquid, omnis a facere, libero maxime placeat veniam excepturi ab! Nisi incidunt eum consequuntur porro aut laboriosam, cum optio unde consectetur blanditiis perspiciatis animi labore dolor.
    Error cumque, sapiente, at quidem dolores suscipit consequuntur eveniet a ipsam illo nobis ad laboriosam voluptates quo distinctio consequatur nemo, quibusdam blanditiis. Impedit, nulla. Esse alias laborum commodi quibusdam et!
    Veritatis distinctio sequi fugiat, perspiciatis autem aliquid ab ad ipsa suscipit maxime similique ea, deleniti quod expedita rerum quibusdam temporibus assumenda? Corporis totam ad a harum eum aut quasi ut!
    Molestias laudantium optio dicta delectus exercitationem temporibus ullam voluptas, earum ex blanditiis repellendus natus voluptatum. Sit commodi perspiciatis, illum molestiae aliquid ex sint tempore deserunt libero praesentium quam earum eveniet.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga fugit nobis sit, praesentium modi quia excepturi commodi minima tempora maiores. Veniam odio doloribus a maiores quo at, blanditiis autem labore?
    Ipsa non voluptatum ad nam, iusto provident? Quasi rem, provident quidem ipsum deleniti laudantium sint perspiciatis magnam voluptates rerum nisi optio at deserunt perferendis dignissimos odit, laborum consequuntur dolore quia.
    Voluptate necessitatibus natus, quaerat vel sed recusandae laboriosam dolor! Voluptatibus delectus nesciunt iusto blanditiis et saepe facere eligendi mollitia excepturi harum sunt, id animi quidem. Obcaecati provident consequatur iste quisquam?
    Sint at voluptate atque placeat eveniet. At fugit accusantium vero optio assumenda aliquid ipsa quisquam in, placeat est error! Inventore, eum tenetur. Repellat libero dolores minima voluptatibus ea aut soluta!
    Ratione eaque reprehenderit voluptate assumenda eveniet ullam debitis natus maiores commodi laboriosam, odio suscipit ducimus recusandae, ad enim amet laudantium autem molestiae repudiandae, officiis architecto. Obcaecati, ipsam porro! Ad, placeat?
    Nam fugiat expedita quam illo maxime aut optio dolor ipsam quibusdam animi ab sint dignissimos ut doloremque blanditiis voluptates, repellat quos esse cum. Incidunt facere laborum natus alias at. Asperiores.
    Iure vero sit, cumque aliquid, omnis a facere, libero maxime placeat veniam excepturi ab! Nisi incidunt eum consequuntur porro aut laboriosam, cum optio unde consectetur blanditiis perspiciatis animi labore dolor.
    Error cumque, sapiente, at quidem dolores suscipit consequuntur eveniet a ipsam illo nobis ad laboriosam voluptates quo distinctio consequatur nemo, quibusdam blanditiis. Impedit, nulla. Esse alias laborum commodi quibusdam et!
    Veritatis distinctio sequi fugiat, perspiciatis autem aliquid ab ad ipsa suscipit maxime similique ea, deleniti quod expedita rerum quibusdam temporibus assumenda? Corporis totam ad a harum eum aut quasi ut!
    Molestias laudantium optio dicta delectus exercitationem temporibus ullam voluptas</p>
</div>
{% endblock %}
